*{
	margin: 0;
	padding: 0;
}
.Todolist{
	width: 960px;
	margin:50px auto;
}
input{
	height: 40px;
	outline: none;
	padding-left: 5px;
	font-size: 18px;
	box-sizing: border-box;
}
.btn{
	width: 60px;
	height: 40px;
	outline: none;
	border:none;
	box-sizing: border-box;
}
.list{
	list-style: none;
	margin-top: 15px;
}
.list li{
	width:100%;
	height: 30px;
	padding-left: 10px;
	margin-top: 10px;
	border-left: 2px solid green;
	border-bottom: 1px dashed #ccc;
	box-sizing: border-box;
}