* {
  margin: 0;
  padding: 0;
}
img {
  width: 4rem;
  margin: 0.26666667rem;
  margin: 0.26666667rem 0.53333333rem;
  margin: 0.26666667rem 0.53333333rem 0.8rem;
  margin: 0.26666667rem 0.53333333rem 0.8rem 1.06666667rem;
  float: left;
}
p {
  font-size: 0.64rem;
}
